[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
pytest = "*"
pydantic = "*"
requests = "*"
alembic = "*"
uvicorn = "*"
httpx = "*"
fastapi-pagination = "*"
sqlmodel = "*"
faker = "*"
psycopg2-binary = "*"
fastapi = {extras = ["standard"], version = "*"}
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
